
#nav{
	position:fixed; 
	top:72px;
	left:0px;
	height:72px;
	width:100%; 
	background:#ffffff;	  
	text-align:center;
    font-size:16px;
    z-index: 10;
}
#nav ul {
    list-style:none;
    margin-top: 16px;
    display: inline-flex;
    justify-content: center;
}		   

#nav li {
    margin-right:16px;
    background-color: #f5f5f5;
    padding: 8px 16px;
    border-radius: 8px;
}

#nav li a {
    text-decoration:none;
    color:rgba(0,0,0,.87);
}
#nav li a:hover {color:#F63D58;}

.contents{ 
    width:1280px;
    margin:0 auto;
    margin-top: 144px;
}

.article{
    height: 1000px;
}

#guide-1{
    background:salmon;
}
#guide-2{
    background:RoyalBlue;
}
#guide-3{
    background:Gold;
}
#guide-4{
    background:rosybrown;
}
#guide-5{
    background: silver;
}