body {
    color: rgba(0, 0, 0, .87);
}

table a {
    color: #F63D58;
}

table i {
    position: relative;
    top: 2px;
}

.intro-guide {
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: url(/images/banner-guide/hero.jpg);
    background-size: cover;
    background-position: center;
}

.intro-title {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-guide {
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    position: absolute;
}

.wrap {
    width: 1080px;
    margin: 0 auto;
    background-color: #fff;
}

.content-body {
    width: 800px;
    margin-left: 280px;
}

section {
    padding-top: 80px;
}

section img {
    width: 100%;
    height: auto;
    margin: 24px 0;

}

section h1 {
    font-size: 40px;
}

section h2 {
    font-size: 26px;
    margin: 64px 0 0 0;
}

section table {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 64px;
}

section table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, .04);
}

section table tr td {
    padding: 11px 24px;
    vertical-align: top;
}

section table tr td:first-child {
    font-weight: bold;
}

hr {
    background: rgba(0, 0, 0, .12);
    margin-top: 16px;
    height: 1px;
    border: none;
}

.col-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.narrow {
    margin: 40px 0 0 0 !important;
}

.download {
    padding: 0 16px 0 24px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 24px;
    font-size: 14px;
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download2 {
    margin-top: 0 !important;
}

.download i {
    margin-left: 8px;
}

.lnb-wrapper {
    margin-top: 80px;
    width: 200px;
    float: left;
}

.lnb {
    padding: 0;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
}


.lnb li {
    padding-bottom: 16px;
    font-size: 16px;
}

.lnb-button {
    display: none;
}

.fixed {
    position: fixed;
    top: 20px;
}

.active {
    color: #F63D58;
    font-weight: bold;
}

.color-guide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 64px 0 98px 0;
}

.color-chip {
    margin: 0 12px;
}

.color-area {
    width: 200px;
    height: 120px;
    border-radius: 8px 8px 0 0;
}

.dark {
    background-color: #212121;
}

.primary {
    background-color: #F63D58;
}

.white {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, .12);
}

.color-content {
    width: 200px;
    height: 148px;
    border-radius: 0 0 8px 8px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-top: none;
    background-color: #fff;
    padding: 24px;
}

.color-content h3 {
    font-size: 18px;
    margin-block-start: 0;
    margin-block-end: 16px;
}

.color-content p {
    margin-block-start: 0;
    margin-block-end: 4px;
    font-size: 16px;
}

.color-content p span {
    color: rgba(0, 0, 0, .38);
    font-weight: bold;
    margin-right: 16px;
}

#footer {
    position: inherit !important;
}


@media screen and (max-width: 1023px) {
    .wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .content-body section h1,
    .content-body section p {
        text-align: left;
    }

    .lnb-wrapper {
        width: 100%;
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        float: none;
        overflow: hidden;
        z-index: 500;

    }

    .lnb {
        margin: 8px 8px 8px 0;
        padding-top: 16px;
        border-radius: 8px;
        background-color: #fff;
        width: 50%;
        margin-left: calc(50% - 8px);
        box-shadow: 0 4px 16px rgba(0, 0, 0, .12);
    }

    .lnb li {
        margin-right: 24px;
        text-align: right;
    }

    .lnb-button {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    #lnbMenu {
        display: none;
    }

    .lnb-button button {
        margin: 9px 8px 0 0;
        padding: 0 0 0 12px;
        background-color: #fff;
        color: rgba(0, 0, 0, .87);
        border-radius: 8px;
        font-size: 16px;
        text-align: left;
        width: auto;
        height: 48px;
    }

    .fixed {
        top: 0;
        position: fixed;
    }

    .content-body {
        width: 100%;
        margin-left: 0;
        padding: 0 24px;
    }

    .color-guide {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .color-chip {
        margin: 12px 0;
        display: inline-flex;

    }

    .color-area {
        width: 148px;
        height: 148px;
        border-radius: 8px 0 0 8px;
    }

    .white {
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, .12);
    }

    .color-content {
        height: 148px;
        border-radius: 0 8px 8px 0;
        border: 1px solid rgba(0, 0, 0, .12);
        background-color: #fff;
        padding: 24px;
    }

    section table tr td:first-child {
        width: 30%;
    }
}