*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Spoqa Han Sans', 'Malgun Gothic', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.65em;
    color: rgba(0, 0, 0, .87);
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    margin: 0;
}

main {
    background-color: #ffffff;
}



a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a:hover,
a:focus {
    outline: none;
}

h1 {
    font-weight: 600;
    line-height: 1.2em;
}

h2 {
    margin: 16px 0 8px 0;
    font-size: 2.5em;
    line-height: 1.3em;
    word-break: keep-all;
    font-weight: 600;
    max-width: 400px;
}

p {
    font-size: 1em;
}



/* header */
#header {
    width: 100vw;
    height: 72px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 300;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
}

#header-container{
    width: 1200px;
    height: 72px;
    position: relative;
}

.bi {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;

}

.bi > a {
    border: 0;
    display: block;
    height: inherit;
    line-height: inherit;
}

.bi-b {
    opacity: 0;

}

.bi-bb {
    opacity: 1;
}


/* Intro */
#intro{
    width: 100vw;
    height: 100vh;
}

#main-wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg_cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
}

#main-container{
    width: 1200px;
    height:100%;
}

#main-contents{
    position: relative;
    top: 24%;
}

.main-title{
    filter: drop-shadow(0 8px 16px #269CA1);
}

#main-title-2{
    opacity: 0;
}

/* Mouse wheeling */
#main-mouse{
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.icon-mouse path{
    transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.icon-mouse .mouse-wheel{
    stroke-dasharray: 20;
    stroke-dashoffset: 80;
    animation: dash 4s linear forwards infinite;
}

@keyframes dash {
    to {stroke-dashoffset: 0;}
 }



/* Button */
.button {
    margin-top: 64px;
}

button {
    background-color: rgba(0,0,0,.12);
    border-radius: 24px;
    border: #ffffff solid 2px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    height: 48px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    margin: 0 0 20px 0;
    font-family: 'Spoqa Han Sans', 'Malgun Gothic', sans-serif;
    transition: all 0.15s ease-out;
    display: inline-flex;
    justify-content: center;
}

button:hover {
    background-color: #F63D58;
    border: none;
}

i {
    margin-right: 6px;
    align-self: center;
}

.button-app{
    opacity: 0;
}

.button1 {
    margin-right: 8px;
}

/* Contents */
.row{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-wrapper{
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
}

.section-contents{
    display: grid;
    position: relative;  
}

.content--layout {
    pointer-events: auto;
    justify-content: center;
    align-content: center;
    grid-template-columns: 670px 530px;
    grid-template-rows: 390px 482px;
    grid-template-areas: "title img" "desc img";
}

.content-title{
    grid-area: title;

}

.content-title img{
    width: 410px;
    height: 120px;
    margin-top: 105px;
}

.text-red{
    color: #F63D58;
}

.content-desc{
    grid-area: desc;
}

.btn-box{
    margin-bottom: 40px;
    position: relative;
}

.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    color: rgba(0, 0, 0, .87);
    font-size: 1em;
    width: 80px;
    height: 40px;
    margin: 0 24px 0 0;
    border-radius: 0%;
}

.btn-box button:nth-child(1).active ~ .active-bar{
    left: 0;
    opacity: 1;
}

.btn-box button:nth-child(2).active ~ .active-bar{
    left: 108px;
    opacity: 1;
}

.btn-box button:nth-child(3).active ~ .active-bar{
    left: 216px;
    opacity: 1;
}

.btn-box button:nth-child(4).active ~ .active-bar{
    left: 324px;
    opacity: 1;
}


.active-bar{
    position: absolute;
    width: 80px;
    border-bottom: 3px solid #000;
    transition: 0.3s;
    opacity: 0;
}

.content-text{
    color: rgba(0, 0, 0, .6);
    width: 670px;
    
}

.text{
    position: absolute;
    opacity: 0;
}

#text-1{
    opacity: 1;
}

.content-img{
    grid-area: img; 
    width: 530px;
    position: absolute;
}

.device{
    width: 530px;
    height: 872px;
    position: absolute;
    z-index: 100;
}

.screenshot{
    position: absolute;
    width: 300px;
    height: 650px;
    top: 104px;
    right: 110px;
    overflow: hidden;
}

.slide{
    position: absolute;
    transform: translateX(300px);
    width: 300px;
    height: 650px;
    transition: all 0.3s ease;
}

#slide-1{
    transform: translateX(0px);
}



.fade-in{
    transform: translateY(0);
}


.opacity60 {
    color: rgba(0, 0, 0, .6);
    word-break: keep-all;
}





@media screen and (max-width: 1440px) {

    p {
        font-size: 1.1em;
        line-height: 1.7em;
    }

    button {
        font-size: 1em;
    }

    .inner {
        transform: scale3d(0.8, 0.8, 1);
    }

    .bi {
        width: 120px;
    }

    #header {
        height: 66px;
    }

    #header-container{
        height: 66px;
    }

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1028px) {

    p{
        font-size: 1em;
    }

    /* Header */
    #header-container{
        width: 100%;
    }
    
    .bi {
        left: 24px;
    
    }

    /* Intro */  
    #main-wrapper{
        background-image: url(../images/bg_cover-s.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #main-container{
        width: 100%;
        padding: 0 24px;
        display: flex;
        justify-content: center;
    }

    .main-title{
        filter: drop-shadow(0 8px 16px rgb(148, 195, 197));

    }

    #main-title-1{
        display: none;
    }

    #main-title-2{
        opacity: 1;
    }

    
    /* Button */
    .button {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .button-web{
        display: none;
    }

    .button-app{
        opacity: 1;
    }

    .button1 {
        margin-right: 0px;
    }

    /* Contents */
    .section-wrapper{
        width: 100%;
        height: 100%;
        background-color: beige;
    }

    .section-contents{
        padding: 0 24px;
        display: flex;
        flex-direction: column;
    }

    .content-title{
        width:100%;
    }

    .content-title img{
        width: 287px;
        height: 69px;
        margin-top: 0px;
    }

    
    

}

