<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <ul class="copyright">
      <li>&copy;
      {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}
      </li>
      <li>
      (주)스퀘어랩<br>
      04542 서울특별시 중구 청계천로 100 시그니쳐타워 서관 10층<br>
      사업자등록번호 151-87-00987 | 통신판매업신고번호 2018-서울중구-1626<br>
      대표번호 1833-5861 | 이메일 contact@squarelab.co<br>
      대표자 KIM DOYON
      </li>
    </ul>
    <div class="icons">
    <div class="icon insta"><a href="https://www.instagram.com/squarelab.co/" target="_blank"><i class="ri-instagram-line social"></i></a></div>
    <div class="icon"><a href="https://www.facebook.com/squarelab.co/" target="_blank"><i class="ri-facebook-fill social"></i></a></div>
  </div>
  </div>
</footer>
