<!-- Footer -->
<footer id="footer">
  <div class="footer-container">
    <div class="inner">
      <div class="copyright">
        <p class="copy-name">&copy;
        Square Lab
        </p>
        <ul class="copy-menu">
          <li><a href="#">제휴문의</a></li>
          <li><a href="http://playwin.gs/NOTICE" target="_blank">공지사항</a></li>
          <li><a href="http://playwin.gs/FAQ" target="_blank">자주묻는질문</a></li>
          <li><a href="http://playwin.gs/terms" target="_blank">이용약관</a></li>
          <li><a href="http://playwin.gs/privacy" target="_blank">개인정보처리방침</a></li>
        </ul>
        <p class="copy-info">
        (주)스퀘어랩 | 04542 서울특별시 중구 청계천로 100 시그니쳐타워 서관 10층<br>
        사업자등록번호 151-87-00987 | 통신판매업신고번호 2018-서울중구-1626호<br>
        대표번호 1833-5861 | 이메일 contact@squarelab.co | 대표자 KIM DOYON
        </p>
      </div>
      <div class="icons">
      <div class="icon insta"><a href="https://www.instagram.com/playwings_app/" target="_blank"><i class="ri-instagram-line social"></i></a></div>
      <div class="icon"><a href="https://www.facebook.com/playwings" target="_blank"><i class="ri-facebook-fill social"></i></a></div>
      </div>
    </div>
  </div>
</footer>
