<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="theme-color" content="#ffffff">
  <meta name="google-site-verification" content="-kdxteMBSgKizw-6qHNm1-5nfxb7H6947J64jmjbBEg" />

  <meta property="og:site_name" content="Playwings">
  <meta property="og:title" content="Playwings">
  <meta property="og:description" content="언제든 가볍게 지구산책">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.playwings.co.kr">
  <meta property="og:image" content="https://playwings.co.kr/images/social.png">
  
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" }}"></script><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' }}">
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" }}" /><![endif]-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" }}">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f63d58">
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
  
  

  <script type="application/ld+json">
       {
           "@context": "http://schema.org",
           "@type": "Organization",
           "name": "Square Lab",
           "url": "https://www.squarelab.co/",
           "sameAs": [
               "https://www.facebook.com/squarelab.co/",
               "https://www.instagram.com/squarelab.co/",
           ]
       }
  </script>
</head>
