#thanks {
  padding-top: 64px;
}

.form-group {
  padding: 16px 0;
}

.caption,
.form-group p,
.form-group ul,
.form-group li {
  font-size: 12px;
  margin: 0;
}

.form-group a {
  text-decoration: underline;
}

.form-group table {
  margin: 8px 0 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.form-group td {
  width: 33%;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0;
}

.form-group td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.form-group table tr:nth-child(odd) {
  background-color: #ffffff;
}

.form-group table .form-control {
  border: none;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 6px 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.col-2 .form-control {
  width: 384px;
}

.col-3 .form-control {
  width: 248px;
}

textarea.form-control {
  height: auto;
}

.daterangepicker td.in-range {
  background-color: rgba(246, 61, 88, 0.12) !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #F63D58 !important;
}

.daterangepicker button {
  width: 80px;
  height: 32px;
}

blockquote {
  background-color: rgba(0, 0, 0, .04);
  border-radius: 8px;
  margin: 0;
  padding: 16px 24px;
  font-size: 12px;
  margin: 16px 0;
}

blockquote ul, .form-group ul {
  margin: 0;
  padding-inline-start: 16px;
}

.cloudinary-thumbnails {
  margin: 0;
}

.cloudinary-button {
  background-color: #ffffff !important;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  font-size: 14px !important;
  line-height: 38px !important;
  height: 38px !important;
  padding: 0 16px !important;
  margin-top: 8px !important;
  text-decoration: none !important;
}

.cloudinary-thumbnails {
  padding-inline-start: 0 !important;
}

.cloudinary-thumbnail {
  display: block !important;
  margin-right: 16px !important;
}

.cloudinary-thumbnail span {
  margin: 8px 0 0 0;
  width: 90px;
}

.cloudinary-thumbnail img {
  margin: 8px 0 0 0;
}

.cloudinary-delete {
  text-decoration: none !important;
  position: absolute;
  margin-top: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}