@media (max-width: 1023px) {
  .nav {
    display: none;
  }

  .wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .content-body section h1,
  .content-body section p {
    text-align: left;
  }

  .lnb {
    margin: 8px 8px 8px 0;
    padding-top: 16px;
    border-radius: 8px;
    background-color: #fff;
    width: 50%;
    margin-left: calc(50% - 8px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .12);
  }

  .lnb li {
    margin-right: 24px;
    text-align: right;
  }

  #lnbMenu {
    display: none;
  }

  .fixed {
    top: 0;
    position: fixed;
  }

  .content-body {
    width: 100%;
    margin-left: 0;
    padding: 0 24px;
  }

  .color-guide {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .color-chip {
    margin: 12px 0;
    display: inline-flex;
  }

  .color-area {
    width: 148px;
    height: 148px;
    border-radius: 8px 0 0 8px;
  }

  .white {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, .12);
  }

  .color-content {
    height: 148px;
    border-radius: 0 8px 8px 0;
    border: 1px solid rgba(0, 0, 0, .12);
    background-color: #fff;
    padding: 24px;
  }

  section table tr td:first-child {
    width: 30%;
  }

  h1 {
    text-align: center;
    font-size: 2em;
  }

  #header-container {
    width: 100vw;
  }

  .bi {
    left: 24px;
  }

  .container {
    height: 100%;
    padding: 40px 0;
  }

  .section {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .container:nth-child(2) > .section {
    flex-direction: column;
  }

  .content-img {
    width: 320px;
    height: auto;
    padding-top: 40px;
  }

  .content-img-2 {
    bottom: -35%;
    left: 20%;
  }

  .ds {
    width: 600px;
  }

  .ds-2 {
    transform: translate(450px, -200px);
  }

  .ds-3 {
    transform: translate(-70px, -40px);
  }

  .ds-4 {
    display: none;
  }

  .ds-5 {
    display: none;
  }

  .ds-6 {
    transform: translate(230px, -370px);
  }

  .ds-7 {
    display: none;
  }

  #main-content {
    top: 40%;
  }

  #main-content img {
    width: 240px;
  }

  button {
    background-color: rgba(246, 61, 88, .8);
  }

  .button {
    margin-top: 32px;
  }

  .button-app {
    display: block;
  }

  .button-web {
    display: none;
  }

  .inner {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    transform: scale3d(1, 1, 1);
  }

  .icons {
    margin-right: 0;
    margin-bottom: 16px;

  }

  .icon:first-child {
    margin-right: 24px;
  }

  .icon:nth-child(2) {
    margin-right: 24px;
  }

  .copyright {
    width: 100%;
    padding: 0;
    font-size: 12px;
    word-break: keep-all;
  }

  .copy-name {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    text-align: center;
  }

  .copy-menu {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copy-menu li {
    padding-right: 24px;
  }

  .copy-info {
    padding: 0 24px;
    line-height: 1.5em;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .text-white {
    margin-top: 24vh;
  }

  /* CSS specific to iOS devices */
  @supports (-webkit-touch-callout: none) {
    #main-mouse {
      bottom: 120px;
    }
  }

  /* CSS for other than iOS devices */
  @supports not (-webkit-touch-callout: none) {
    #main-mouse {
      bottom: 64px;
    }
  }
}